<footer>
        <div class="wrap-content">
            <nav class="foot_nav">
                <section>
                    <h3><a href="#">Fərdi</a></h3>
                    <ul>
                        <li><a href="#">Kreditlər</a></li>
                        <li><a href="#">Kartlar</a></li>
                        <li><a href="#">Əmanətlər</a></li>
                        <li><a href="#">Pul köçürmələri</a></li>
                    </ul>
                </section>
                <section>
                    <h3><a href="#">Biznes</a></h3>
                    <ul>
                        <li><a href="#">Kreditlər</a></li>
                        <li><a href="#">Kartlar</a></li>
                        <li><a href="#">Biznes xidmətlər</a></li>
                    </ul>
                </section>
                <section>
                    <h3><a href="#">Bank haqqında</a></h3>
                    <ul>
                        <li><a href="#">Rəhbərlik</a></li>
                        <li><a href="#">Karyera</a></li>
                        <li><a href="#">Hesabatlar</a></li>
                        <li><a href="#">Komitələr</a></li>
                        <li><a href="#">Sənədlər</a></li>
                        <li><a href="#">Xəbərlər</a></li>
                    </ul>
                </section>
                <section>
                    <h3><a href="#">Onlayn xidmətlər</a></h3>
                    <ul>
                        <li><a href="#">Online kredit sifarişi</a></li>
                        <li><a href="#">Kart sifarişi</a></li>
                        <li><a href="#">Onlayn növbə</a></li>
                        <li><a href="#">Online kredit ödənişi</a></li>
                        <li><a href="#">Onlayn ödəmə</a></li>
                    </ul>
                </section>
            </nav>
            <div class="foot_top">
                <ul class="social">
                    <li><a href="https://www.facebook.com/yelo.az" target="_blank" class="f" style="background-image:url(/static/assest/images/f.svg) ;"></a></li>
                    <li><a href="https://www.instagram.com/yelobank/" target="_blank" class="f" style="background-image:url(/static/assest/images/i.svg) ;"></a></li>
                    <li><a href="https://www.linkedin.com/company/yelo-bank/" target="_blank" class="f" style="background-image:url(/static/assest/images/l.svg) ;"></a></li>
                    <li><a href="https://www.youtube.com/channel/UCz7siujqcwxQz3OcWqK5NLQ" target="_blank" class="f" style="background-image:url(/static/assest/images/y.svg) ;"></a></li>
                    <li><a href="https://twitter.com/yelo_bank" target="_blank" class="f" style="background-image:url(/static/assest/images/t.svg) ;"></a></li>
                </ul>

                <div v class="contact_inf">
                        <div class="ci_item">
                            <p>Bizi tap</p>
                            <b><a href="tel:Həsən bəy Zərdabi 81K, Bakı AZ 1122, Azərbaycan" target="_blank">Həsən bəy Zərdabi 81K, Bakı AZ 1122, Azərbaycan</a></b>
                        </div>
                        <div class="ci_item">
                            <p>Əlaqə nömrəsi</p>
                            <b><a href="tel:981" target="_blank">981</a></b>
                        </div>
                        <div class="ci_item">
                            <p>Bizə yazın</p>
                            <b><a href="mailto:bank@yelo.az" target="_blank">bank@yelo.az</a></b>
                        </div> 
                </div>
            </div>
            <div class="foot_bottom">
                <a class="logo"></a>
                <ul>
                    <li>
                        <p>© 2022 Yelo Bank</p>
                    </li>
                    <li>
                        <a href="https://www.e-gov.az" target="_blank">E-portal</a>
                    </li>
                    <li>
                        <a href="https://www.adif.az/" target="_blank">ADİF</a>
                    </li>
                    <li>
                        <a href="https://infobank.az/" target="_blank">infobank.az</a>
                    </li>
                    <li>
                        <a href="https://qdf.gov.az/iane-et/" target="_blank">Qarabağ Dirçəliş Fondu</a>
                    </li>
                    <li>
                        <a href="https://gpp.az/WebPortal/Infosite/Sc/989000/Category/8" target="_blank">YAŞAT Fondu</a>
                    </li> 
                </ul>
            <div class="by_jis">
                <p>Site by</p>
                <a href="http://www.jis.az/" target="_blank" class="jis">Minura Karimli</a>
            </div>
        </div>
        </div>
    </footer>