<header>
        <div class="main-wrap">
            <nav class="head-top">
                <div class="left-side">
                    <ul>
                        <li><a class="active" href="">Fərdi</a></li>
                        <li><a href="#">Biznes</a></li>
                        <li><a href="#">Bank haqqında</a></li>
                    </ul>
                </div>
                <div class="right-side">
                    <ul class="nav-links">
                        <li>
                            <a href="https://www.yelo.az/az/individuals/atms-and-branches/" target="_blank"><i class="fas fa-map-marker-alt"></i>ATM və Filiallar</a>
                        </li>

                        <li>
                            <a href="https://www.yelo.az/az/individuals/online-services/online-queue/" target="_blank"><i class="fas fa-street-view"></i> Onlayn növbə</a></li>
                        <li>
                            <a> <i style="padding: 0;" class="fas fa-phone fa-rotate-90"></i> 981</a>
                        </li>
                        <li>
                            <a href="#search">
                                <i class="fas fa-search"></i>
                        </li>
                        <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn">
                  AZ <img src="{{url_for('static', filename='assest/images/active_lang.svg')}}" alt="" />
                </button>
                            <div id="myDropdown" class="dropdown-content">
                                <a href="#home">AZ</a>
                                <a href="#about">EN</a>
                                <a href="#contact">RU</a>
                            </div>
                        </div>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="head-bottom">
        <div class="wrap">
            <div class="logo-and-list">
                <div>
                    <a class="logo" href="/" target="_blank"></a>
                </div>
                <div class="list">
                    <ul>
                        <li><a href="#">Kreditlər</a></li>
                        <li><a href="#">Kartlar</a></li>
                        <li><a href="#">Əmanətlər</a></li>
                        <li><a href="#">Pul köçürmələri</a></li>
                    </ul>
                </div>
            </div>
            <div class="btn-and-menu">
                <div class="btn">
                    <p class="about-banking"> <i style="margin-right: 14px;" class="fa fa-hand-o-right"></i>İnternet Bank</p>
                </div>
                <div class="menu">
                    <a href="#"  id="menu_toggle" class="close_menu"></a>
                </div>
            </div>
        </div>
        <div class="head_adds">
            <div class="head_wrap sub_menu_wrap">
                <div class="menu_left">
                    <div class="exp_nav">
                        <div class="exp_nav_item">
                            <a href="#" class="m_nav">Kreditlər</a>
                            <ul>
                                <li>
                                    <a href="#">İstehlak krediti</a>
                                </li>
                                <li>
                                    <a href="#">Daşınmaz əmlak girov krediti</a>
                                </li>
                                <li>
                                    <a href="#">Əmanət təminatlı kredit</a>
                                </li>
                                <li>
                                    <a href="#">İpoteka krediti</a>
                                </li>
                            </ul>
                        </div>
                        <div class="exp_nav_item">
                            <a href="#" class="m_nav">Kartlar</a>
                            <ul>
                                <li>
                                    <a href="#">Yelo Light</a>
                                </li>
                                <li>
                                    <a href="#">Yelo Premium</a>
                                </li>
                                <li>
                                    <a href="#">Yelo Kredit kartı</a>
                                </li>
                            </ul>
                        </div>
                        <div class="exp_nav_item">
                            <a href="#" class="m_nav">Əmanətlər</a>
                            <ul>
                                <li>
                                    <a href="#">Yelo Sabit</a>
                                </li>
                                <li>
                                    <a href="#">"Parlaq Zəfər" əmanəti</a>
                                </li>
                                <li>
                                    <a href="#">Yelo Yığım</a>
                                </li>
                            </ul>
                        </div>
                        <div class="exp_nav_item">
                            <a href="#" class="m_nav">Kart xidmətləri</a>
                            <ul>
                                <li>
                                    <a href="#">Onlayn PIN SET</a>
                                </li>
                                <li>
                                    <a href="#">Cashback</a>
                                </li>
                                <li>
                                    <a href="#">PIN Reset</a>
                                </li>
                                <li>
                                    <a href="#">PIN kodun dəyişdirilməsi</a>
                                </li>
                                <li>
                                    <a href="#">SMS məlumatlandırma</a>
                                </li>
                                <li>
                                    <a href="#">3D secure</a>
                                </li>
                                <li>
                                    <a href="#">Cash by code</a>
                                </li>
                                <li>
                                    <a href="#">Card to card</a>
                                </li>
                                <li>
                                    <a href="#">ATM PIN SET</a>
                                </li>
                            </ul>
                    </div>
                    <div class="exp_nav_item">
                        <a href="#" class="m_nav">Pul köçürmələri</a>
                        <ul>
                            <li>
                                <a href="#">Western Union</a>
                            </li>
                            <li>
                                <a href="#">Zolotaya Korona</a>
                            </li>
                        </ul>
                    </div>
                    <div class="exp_nav_item">
                        <a href="#" class="m_nav">Onlayn xidmətlər</a>
                        <ul>
                            <li>
                                <a href="#">Online kredit sifarişi</a>
                            </li>
                            <li>
                                <a href="#">Onlayn ödəmə</a>
                            </li>
                            <li>
                                <a href="#">Online kredit ödənişi</a>
                            </li>
                            <li>
                                <a href="#">Onlayn növbə</a>
                            </li>
                        </ul>
                    </div>
                    <div class="exp_nav_item">
                        <a href="#" class="m_nav">Digər xidmətlər</a>
                        <ul>
                            <li>
                                <a href="#">Hesablaşma-kassa xidməti</a>
                            </li>
                        </ul>
                    </div>
                    <div class="exp_nav_item">
                        <a href="#" class="m_nav">Cashback</a>
                        <ul>

                        </ul>
                    </div>
                    <div class="exp_nav_item">
                        <a href="#" class="m_nav">Forum</a>
                        <ul>

                        </ul>
                    </div>
                    <div class="exp_nav_item">
                        <a href="#" class="m_nav">Kredit kalkulyatoru</a>
                        <ul>

                        </ul>
                    </div>
                    <div class="exp_nav_item">
                        <a href="#" class="m_nav">Təklif və iradlar</a>
                        <ul>

                        </ul>
                    </div>
                </div>
                <div class="contact_inf">
                    <div class="ci_item">
                        <p>Bizi tap</p>
                        <b>Həsən bəy Zərdabi 81K, Bakı AZ 1122, Azərbaycan</b>
                    </div>
                    <div class="ci_item">
                        <p>Əlaqə nömrəsi</p>
                        <b>981</b></div>
                    <div class="ci_item">
                        <p>Bizə yazın</p>
                        <b>
                            <a href="mailto:bank@yelo.az" target="_blank">bank@yelo.az</a>
                        </b>
                    </div>
                </div>
                </div>
                <a href="/az/individuals/cards/yelo-kart-debet111/" class="menu_right" style="background-image: url(/static/assest/images/artboard_7.png)"></a>
            </div>
        </div>
    </div>